:root {
  background-color: #c3ebd1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}

ul {
  list-style-type: none;
}

table {
  table-layout: fixed;
  width: 100%;
  font-family: arial, sans-serif;
  border-collapse: collapse;
}

caption {
  caption-side: top;
  text-align: left;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 20px;
}

/* Header */
.header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  background-color: rgb(212, 145, 134);
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__logo__img {
  width: 30px;
  height: 30px;
}

.header__logo__title {
  padding-left: 5px;
}

/* Navbar */
.header__nav {
  margin-right: 30px;
}

.header__nav__list {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding: 0px;
}

.header__nav__link {
  margin: 10px;
}

/* Main */

/* Home */
.home__section {
  padding-top: 5rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  background-color: #c3ebd1;
}

.home__pic {
  width: 20rem;
  height: 20rem;
  margin: 5rem;
  border-radius: 50%;
}

.home__title {
  margin-top: 0px;
}

/* About */

.about__section {
  padding-top: 3rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.about__title {
  text-align: center;
  width: 100%;
}

.about__table {
  width: 60rem;
  margin-top: 2rem;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* Skills */
.skills__section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #c3ebd1;
}

/* Projects */
.projects__section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #ffffff;
}

/* Contact */
.contact__section {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #c3ebd1;
}

/* Footer */
.footer__section {
  background-color: rgb(112, 112, 112);
}
